<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paramore DIscography</title>
        <link rel="stylesheet" href="src/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
<body>
    <nav>
        <ul id="nav-list">
            <li>
                <a href="/">Home Page</a>
            </li>
            <li>
                <a href="/about">About the band</a>
            </li>
            <li>
                <a href="/works">Band's work</a>
            </li>
        </ul>
    </nav>
    
      <h2>Paramore Discography</h2>
    
      <table>
        <thead>
          <tr>
            <th>Album</th>
            <th>Image</th>
            <th>Release Date</th>
            <th>Number of Tracks</th>
            <th>Track Names</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>All We Know Is Falling</td>
            <td><img class="album" src="/images/AWKIF.png" alt="All We Know Is Falling"></td>
            <td>July 26, 2005</td>
            <td>10</td>
            <td>
                <ul class="songs-list">
                    <li>All We Know</li>
                    <li>Pressure</li>
                    <li>Emergency</li>
                    <li>Brighter</li>
                    <li>Here We Go Again</li>
                    <li>Never Let This Go</li>
                    <li>Whoa</li>
                    <li>Conspiracy</li>
                    <li>Franklin</li>
                    <li>My Heart</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>Riot!</td>
            <td><img class="album" src="/images/RIOT.png" alt="Riot!"></td>
            <td>June 12, 2007</td>
            <td>11</td>
            <td>
                <ul class="songs-list">
                    <li>For a Pessimist, I'm Pretty Optimistic</li>
                    <li>That's What You Get</li>
                    <li>Hallelujah</li>
                    <li>Misery Business</li>
                    <li>When It Rains</li>
                    <li>Let the Flames Begin</li>
                    <li>Miracle</li>
                    <li>Crushcrushcrush</li>
                    <li>We Are Broken</li>
                    <li>Fences</li>
                    <li>Born for This</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>Brand New Eyes</td>
            <td><img class="album" src="/images/BNE.png" alt="Brand New Eyes"></td>
            <td>September 29, 2009</td>
            <td>12</td>
            <td>
                <ul class="songs-list">
                    <li>Careful</li>
                    <li>Ignorance</li>
                    <li>Playing God</li>
                    <li>Brick by Boring Brick</li>
                    <li>Turn It Off</li>
                    <li>The Only Exception</li>
                    <li>Feeling Sorry</li>
                    <li>Looking Up</li>
                    <li>Where the Lines Overlap</li>
                    <li>Misguided Ghosts</li>
                    <li>All I Wanted</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>Paramore</td>
            <td><img class="album" src="/images/Paramore.png" alt="Paramore"></td>
            <td>April 5, 2013</td>
            <td>17</td>
            <td>
                <ul class="songs-list">
                    <li>Fast in My Car</li>
                    <li>Now</li>
                    <li>Grow Up</li>
                    <li>Daydreaming</li>
                    <li>Interlude: Moving On</li>
                    <li>Ain’t It Fun</li>
                    <li>Part II</li>
                    <li>Last Hope</li>
                    <li>Still Into You</li>
                    <li>Anklebiters</li>
                    <li>Interlude: Holiday</li>
                    <li>Proof</li>
                    <li>Hate to See Your Heart Break</li>
                    <li>(One of Those) Crazy Girls/li>
                    <li>Interlude: I’m Not Angry Anymore</li>
                    <li>Be Alone</li>
                    <li>Future</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>After Laughter</td>
            <td><img class="album" src="/images/AL.png" alt="After Laughter"></td>
            <td>May 12, 2017</td>
            <td>12</td>
            <td>
                <ul class="songs-list">
                    <li>Hard Times</li>
                    <li>Rose-Colored Boy</li>
                    <li>Told You So</li>
                    <li>Forgiveness</li>
                    <li>Fake Happy</li>
                    <li>26</li>
                    <li>Pool</li>
                    <li>Grudges</li>
                    <li>Caught in the Middle</li>
                    <li>Idle Worship</li>
                    <li>No Friend</li>
                    <li>Tell Me How</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>This is why</td>
            <td><img class="album" src="/images/TIW.png" alt="After Laughter"></td>
            <td>February 10, 2023</td>
            <td>10</td>
            <td>
                <ul class="songs-list">
                    <li>This Is Why</li>
                    <li>The News</li>
                    <li>Out of Time</li>
                    <li>C’est Comme Ça</li>
                    <li>Big Man, Little Dignity</li>
                    <li>You First</li>
                    <li>Figure 8</li>
                    <li>Liar</li>
                    <li>Crave</li>
                    <li>Thick Skull</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    
</body>
</html>
    